.contactform
  width: 80%
  display: block
  margin: 0 auto

input, textarea
  width: 100%
  border-radius: 5px
  height: 25px
  background-color: white
  border: 1px solid #EAA221
  display: inline-block
  margin: 0 auto

input::placeholder
  padding-left: 5px

input:focus, textarea:focus
  outline: none

.name
  margin-bottom: 5px

.email
  margin-bottom: 10px

.message
  height: 90px
  margin-bottom: 0px
  padding: 5px


.btn
  width: 30%

input.btn
  font-weight: bold
  font-size: 50%
