.grid-container
  width: 100%
  //background: rgba(255,230,230,.3)
  //border: 1px solid rgba(255,230,230,.8)
  position: relative
  display: grid
  grid-template-columns: 3fr
  grid-template-rows: auto
  .story
    display: grid
    grid-template-columns: 3fr
    grid-template-rows: 1
    height: auto
    margin: 20px 0
    .title.odd
      grid-column: 1 / 2
      grid-row: 1
      //border: 1px solid black
    .title.even
      grid-column: 3 / 4
      grid-row: 1
      //border: 1px solid black
    .desc.odd
      grid-column: 2 / 4
      grid-row: 1
      padding-left: 10px
    .desc.even
      grid-column: 1 / 3
      grid-row: 1
      padding-right: 10px
    .divLine
      grid-column: 1/4;
      grid-row: 1;
      border-bottom: 1px solid rgba(80, 80, 80, 0.3);
      width: 35%;
      margin: 0 auto;
      position: relative;
      top: 35px;

    a
      font-size: 300%
      display: block
      line-height: 3rem
      margin: auto auto
      //background: rgba(200, 255, 200, 0.3)
      position: relative
      top: 1rem
    p
      font-size: 150%
      font-family: "Raleway"
      font-weight: 200
      line-height: 2rem
      margin: auto auto
      letter-spacing: 0.1rem
      display: block
      //background: rgba(200, 200, 255, 0.3)
      position: relative
      top: 1rem

@media screen and (max-width: 600px)
  .grid-container
    .story
      a
        font-size: 200%
      p
        font-size: 100%
