footer {
  background-color: rgba(0, 0, 0, 0.1);
}

#mc_embed_signu {
  clear: left;
  width: 100%;
  padding-bottom: 25px;
}

.site-by {
  display: inline-box;
  width: 100%;
  margin: 15px auto 0;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 50%;
  padding-right: 10px;
}

.site-by a:link {
  color: rgba(0, 0, 0, 0.3);
}

.site-by a:visited {
  color: rgba(0, 0, 0, 0.3);
}

.site-by a:hover {
  color: rgba(0, 0, 0, 0.3);
}

.site-by a:active {
  color: rgba(0, 0, 0, 0.3);
}
