<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <main class="container {% if site.color_scheme %}{{ site.color_scheme }}{% else %}avocado{% endif %}">
            {% if page.title == "Home" %}
                <header class="fadeInLeft animated">
                {% else %}
                    <header>
                    {% endif %}
                    <div id="logodiv">
                        <a href="{{ site.url }}" id="logo" title="{{ site.title }}" style="background-image: url({{ '/assets/images/logo.png' | relative_url }});"></a>
                    </div>

                    {% include navigation.html %}
                </header>
            {% if page.title == "Home" %}
                <section class="my-grid bio fadeInLeft animated">
                {% else %}
                    <section class="my-grid bio">
                    {% endif %}
                    <div id="bio-right">
                        <img src="/assets/images/profile-pic-sq.png"/>
                        <!-- <ul class="socials">
                          <li><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>fb</a></li>
                          <li><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>ig</a></li>
                          <li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>tw</a></li>
                          <li><a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>go</a></li>
                        </ul> -->
                    </div>
                    <div id="bio-text">
                        <p class='lead' id="bio-name">Johnny Nava</p>
                        <!-- <p>CSU Northridge '17</p> -->
                    </div>
                    <div id="bio-title">
                        <!-- <p class="space small">Writer</p>
                        <p class="space small">Director</p>
                        <p class="space small">Creator</p> -->
                        <p class="space large">Writer  •  Filmmaker  •  Creator</p>
                    </div>
                </section>

                {{ content }}


            </main>

            <!-- scripts -->
            <script src="{{ '/assets/js/fluidvids.min.js' | relative_url }}"></script>
            <script>
                fluidvids.init({
                    selector: [
                        'iframe', 'object'
                    ],
                    players: ['www.youtube.com', 'player.vimeo.com']
                });
            </script>
        </body>
    </html>
